<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form>
    <label for="username">学号:</label>
    <input type="text" id="username" name="username"><br>
    <label for="password">密码:</label>
    <input type="password" id="password" name="password"><br>
    <button type="button" onclick="login()">登录</button>
</form>

<div id="result"></div>

<script>
    function login() {
        var xhr = new XMLHttpRequest();
        var url = "signin1";
        var params = "username=" + document.getElementById("username").value + "&password=" + document.getElementById("password").value;
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("result").innerHTML = this.responseText;
            }
        }
        xhr.send(params);
    }
</script>
</body>
</html>